<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu" layout:decorator="layouts/main">
<head>
<meta charset="UTF-8"></meta>
<title th:text="#{pageTitle}">SFJ - Minden napra egy sztori</title>
<style>
div.container {
    width: 90%;
    
}

header, footer {
    padding: 1em;
    color: white;
    background-color: blue;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 500px;
    margin-left: 150px;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</head>
<body>

	<div layout:fragment="loginContent">
    <nav>
		<form name="registration" th:action="@{/reg}" th:object="${user}" method="post" class="form-signin">
			<h2 class="form-signin-heading">Kérlek regisztrálj !</h2>
			
		 	    <input type="text" id="email" name="email" th:field="*{email}" class="form-control" placeholder="E-mail cím"  /> 
		 	    <input type="text" id="lastname" name="lastname" th:field="*{lastname}" class="form-control" placeholder="Vezetéknév"  />
		 	    <input type="text" id="firstname" name="firstname" th:field="*{firstname}" class="form-control" placeholder="Keresztnév"  />
		 	    <input type="text" id="username" name="username" th:field="*{username}" class="form-control" placeholder="Felhasználónév"  />
			    <input type="password" id="password" name="password" th:field="*{password}"  class="form-control" placeholder="Jelszó" />
			<button class="btn btn-lg btn-primary btn-block" type="submit">Regisztráció</button>
		</form>
   </nav>
	</div>

</body>
</html>